doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    block title
    link(href='./index.css', type='text/css', rel='stylesheet')
    block ogps
  body
    .wrapper
      header
        .pure-u-1-1.pure-u-sm-1-4.logo
          a(href='/')
            img(src='//www.eiganokai.com/images/logo_s.jpg', alt='かなざわ映画の会')
        .pure-u-1-1.pure-u-sm-3-4
          .links
            a(href='/') Home
            a(href='/about') About us
            a(href='/event') Event
            a(href='/about/supporter.html') Supporter wanted
            a(href='//eiganokai.blog.fc2.com') Blog
            a(href='/about/info.html') Contact
      #maintitle
        a(href='./')
          img(src='./images/maintitle.jpeg')
      #mainmenu
        .pure-u-1-2.pure-u-sm-1-4
          .pure-menu-horizontal.mainmenu-item
            .pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
              .pure-menu-link Program
              ul.pure-menu-children
                li.pure-menu-item
                  a(href='./cooljapan.html') Cool Japan
                li.pure-menu-item
                  a(href='./avantgradeero.html') Avant-garde erotic cinemas in the late afternoon
                li.pure-menu-item
                  a(href='./boysbeanarchy.html') Bad boys movie
                li.pure-menu-item
                  a(href='./riot.html') Riot movie
                li.pure-menu-item
                  a(href='./cursed.html') Uneasy times, doomed films
                li.pure-menu-item
                  a(href='./war.html') I love WAR (movie)!
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./alltimebest.html') Kanazawa film festival all time best
                li.pure-menu-item
                  a(href='./bigslideshow.html') Crispin Glover's Big slideshow
                li.pure-menu-item
                  a(href='./rhs.html') LIP'S Presents "Rocky Horror Picture Show" performance screening
                li.pure-menu-item
                  a(href='./pink.html') Talk show of Motomiya movie theater's master Shuji Tamura and "Pink movie good scene collection"
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./newhope.html') Expectations of the new directors 2016
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./furyroad.html') Furious outdoor screening of "Mad Max fury road"
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./yuyaisback.html') YUYA IS BACK
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./hardcorehenry.html') HARDCORE HENRY
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./pray.html') Innocent Prayer
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./tomoshibi.html') "Expectations of New Director Award 2013" Takashi Kiyokawa's latest film "TOMOSHIBI" Japan Premiere.
                li.pure-menu-item.spacer
                li.pure-menu-item
                  a(href='./tobe.html') Tobe Hooper allnight
                li.pure-menu-item
                  a(href='./countryhorror.html') Countryside horror complete films Vol.2 allnight
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./schedule.html') Schedule
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./ticket.html') Ticket
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./access.html') Access
      block body
      footer
        p Copyright &copy; 2007-2016, Kanazawa-Eiga-no-kai All rights reserved.
      script(type='text/javascript') !function(e,t){"use strict";function n(n){var i="pure-",r=i+"menu-active",u="role",s="aria-hidden",o=0,l=1,a=".pure-menu-active",h=".pure-menu-link",c=".pure-menu-children",d=e.hasOwnProperty&&e.hasOwnProperty("ontouchstart")?"touchstart":"mousedown",_=!0,p=this;this._state=l,this.show=function(){this._state!==o&&(this._dropdownParent.classList.add(r),this._menu.setAttribute(s,!1),this._state=o)},this.hide=function(){this._state!==l&&(this._dropdownParent.classList.remove(r),this._menu.setAttribute(s,!0),this._link.focus(),this._state=l)},this.toggle=function(){this[this._state===l?"show":"hide"]()},this.halt=function(e){e.stopPropagation(),e.preventDefault()},this._dropdownParent=n,this._link=this._dropdownParent.querySelector(h),this._menu=this._dropdownParent.querySelector(c),this._firstMenuLink=this._menu.querySelector(h),this._link.setAttribute("aria-haspopup","true"),this._menu.setAttribute(u,"menu"),this._menu.setAttribute("aria-labelledby",this._link.getAttribute("id")),this._menu.setAttribute("aria-hidden","true"),[].forEach.call(this._menu.querySelectorAll("li"),function(e){e.setAttribute(u,"presentation")}),[].forEach.call(this._menu.querySelectorAll("a"),function(e){e.setAttribute(u,"menuitem")}),this._link.addEventListener("click",function(e){e.stopPropagation(),e.preventDefault(),p.toggle()}),t.addEventListener("keydown",function(e){var t,n,i,r,u;if(p._state===o&&!p._menu.querySelector(a))if(t=p._menu.querySelector(":focus"),27===e.keyCode)p.halt(e),p.hide();else if(_&&40===e.keyCode){for(p.halt(e),i=t?t.parentNode.nextSibling:null;i&&1!==i.nodeType;)i=i.nextSibling;u=i?i.querySelector(".pure-menu-link"):null,t?u&&u.focus():p._menu.querySelector(".pure-menu-link").focus()}else if(_&&38===e.keyCode){for(p.halt(e),n=t?t.parentNode.previousSibling:null;n&&1!==n.nodeType;)n=n.previousSibling;r=n?n.querySelector(".pure-menu-link"):null,t?r&&r.focus():p._menu.querySelector(".pure-menu-item:last-child .pure-menu-link").focus()}}),t.addEventListener(d,function(e){var t=e.target;t===p._link||p._menu.contains(t)||(p.hide(),p._link.blur())})}function i(){for(var e=t.querySelectorAll(".pure-menu-has-children"),i=0;i<e.length;i++){new n(e[i])}}i()}(this,this.document);
